{% extends 'base.html' %}


{% block title %} IP Finder {% endblock %}



{% block body %}

<div class="container" style="text-align:center">
    

    <br>
    <br>
    <marquee><h1>IP APP Team 4</h1></marquee>


    <br>
    <br>
    
    <h3>IP Address Information</h3>
    <p>IP Address : {{data.ip}}</p>
    <p>ASN : {{data.asn}}</p>
    <p>Internet Service Provider : {{data.org}}</p>
    <br>
    <h3>Geolocation:</h3>
    <p>City Location : {{data.city}}</p>
    <p>Capital : {{data.country_capital}}</p>
    <p>Country Code : {{data.country_code}} {{data.country}}</p>
    <p>Region : {{data.region}}</p>
    <p>Continent Code : {{data.continent_code}}</p>
    <p>Postal/Zip Code : {{data.postal}}</p>
    <p>Latitude Information  : {{data.latitude}}</p>
    <p>Longitude Information : {{data.longitude}}</p>
    <p>Timezone : {{data.timezone}}</p>
    <p>Currency : {{data.currency}}</p>
    <p>Currency Name : {{data.currency_name}}</p>
    <p>Languages : {{data.languages}}</p>

    <!-- TEST -->


</div>


{% endblock %}