#custom-text-size{
    font-size: 20px;
}
body {
    background-image: url("https://static.scientificamerican.com/sciam/cache/file/57F7E085-39FC-47A2-868427EEFC12498F_source.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;
}

.container-box {
    background-color: #FFFFFF;
    backdrop-filter: blur(5px);
}